<div class="example-container" [formGroup]="myForm" >
<mat-form-field>
  <input matInput placeholder="请输入密码" type="password" formControlName="password" #passwordInput >
  <mat-error *ngIf="myForm.controls['password'].invalid">{{getPassWordErrorMessage('password')}}</mat-error>
</mat-form-field>

  <mat-form-field>
    <input matInput placeholder="请再次输入密码" type="password" formControlName="multiPassword" #multiPasswordInput>
    <mat-error *ngIf="myForm.controls['multiPassword'].invalid">{{getPassWordErrorMessage('multiPassword')}}</mat-error>
  </mat-form-field>
  <mat-error>{{equalPasswordAndMultiPassWord('password','multiPassword')}}</mat-error>
  <div class="example-button-row">
    <button type="button" class="btn btn-primary" mat-button (click)="passWordReset()" [disabled]="!isSubmitable">修改</button>&nbsp;
    <button type="button" class="btn btn-default" mat-button color="primary" (click)="cancel()">取消</button>
  </div>
</div>





