<div class="example-container" [formGroup]="myForm">
  <div class="row">
    <label class="col-xs-12 col-md-4">邮箱地址：</label>
    <div class="col-xs-12 col-md-8">{{this.userName}}@{{this.domain}}</div>
  </div>
  <mat-form-field>
    <input matInput placeholder="请输入密码" type="password" formControlName="password" #passwordInput >
    <mat-error>{{getPassWordErrorMessage('password')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="请再次输入密码" type="password" formControlName="multiPassword" #multiPasswordInput>
    <mat-error>{{getPassWordErrorMessage('multiPassword')}}</mat-error>
    <mat-error>{{equalPasswordAndMultiPassWord('password','multiPassword')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="请输入手机号码" type="text" formControlName="mobile" #mobileInput >
    <mat-error>{{getPhoneErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="example-button-row">
    <button type="button" class="btn btn-primary" mat-button (click)="createNewEmail()" [disabled]="isSubmitable" [attr.disabled]="isSubmitable?null:'disabled'">添加</button>&nbsp;
    <button type="button" class="btn btn-default" mat-button color="primary" (click)="cancel()">取消</button>
  </div>
</div>
